.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 12px 24px;
	background: white;
	border-bottom: 1px solid #f2f4f5;

	.logo_text {
		font-size: 24px;
	}
	.date {
		font-size: 16px;
	}
}

.dark {
	background-color: #23272f;
	color: #fff;
	border-bottom: 1px solid rgb(60, 60, 60);
}

.light {
	color: #000;
	background-color: white;
}

.themeSubmit {
	background: transparent;
	border: none;
}

@media screen and (max-width: 992px) {
	.header {
		flex-direction: column;
		gap: 20px;
	}
}
